<!DOCTYPE html>

<html lang="en">
    <head>
	    <title>HCI Project Portfolio</title>	
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="../css/class.css" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>

        <h1 class="class-title"> COGS 107B </h1>

        <br />

        <div class="base-grade">
            <b class="class-name">Current Grade:</b>
            <div class="score">B+</div>
        </div>

        <br />

        <div class="percentile"> 57% of final grade.</div>
        <span class="percentile"> focus on: </span>
        <b> Exams </b>

        <hr>

        <div> Add Grades: </div>
        <br />

        <a href="./section.html" class="sections">
            <div class="section">
               <div> Peer discussion 8% </div>
                <div> 6 of 8 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="./section.html" class="sections">
            <div class="section">
               <div> Quizzes 8% </div>
                <div> 5 of 8 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="./section.html" class="sections">
            <div class="section">
               <div> Section Activities 24% </div>
                <div> 4 of 6 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="./section.html" class="sections">
            <div class="section">
               <div> Exams 60% </div>
                <div> 2 of 4 in (0 tests) </div>
             </div>
        </a>
    </div>

        <!-- JavaScript -->
        <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>