<!DOCTYPE html>

<html lang="en">
    <head>
	    <title>HCI Project Portfolio</title>	
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="css/course.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">

    	<script src="https://code.jquery.com/jquery.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar 
        <section id="nav_bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="#" class="nav-link"><p class="navbar_brand">Grade Guru</p></a>

            <ul class="navbar-nav ml-auto">
                <li class="navbar_item">
                <a href="settings" class="nav-link"><i class="fas fa-cogs fa-3x icon"></i></a>
                </li>
            </ul>
            </nav>
        </div>  -->

        </section>
        <h1 class="class-title"> COGS 120 </h1>

        <br />

        <div class="base-grade">
            <b class="class-name">Current Grade:</b>
            <div class="score">C</div>
        </div>

        <br />

        <div class="percentile"> 37% of final grade.</div>
        <span class="percentile"> focus on: </span>
        <b> In-Class Quiz </b>

        <hr>

        <div> Add Grades: </div>
        <br />

        <a href="category" class="sections">
            <div class="section">
               <div> Weekly Assignments 66% </div>
                <div> 4 of 10 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="category" class="sections">
            <div class="section">
               <div> In-Class Quiz 14% </div>
                <div> 0 of 4 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="category" class="sections">
            <div class="section">
               <div> Labs 8% </div>
                <div> 6 of 10 in (0 tests) </div>
             </div>
        </a>

        <br />

        <a href="category" class="sections">
            <div class="section">
               <div> Participation 8% </div>
                <div> 0 of 1 in (1 tests) </div>
             </div>
        </a>

        <br />

        <a href="category" class="sections">
            <div class="section">
               <div> Self & Team assessments 4% </div>
                <div> 6 of 10 in (0 tests) </div>
             </div>
        </a>
    </div>
    <footer id="footer">
      <p class="footer_text">Grade Guru 2021</p>
    </footer>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>