<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap" rel="stylesheet">

    <title>Grade Guru</title>
  </head>

  <body>

    <!-- Nav Bar -->
    <section id="nav_bar">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a href="#" class="nav-link"><p class="navbar_brand">Grade Guru</p></a>

          <ul class="navbar-nav ml-auto">
            <li class="navbar_item">
              <a href="./settings.html" class="nav-link"><i class="fas fa-cogs fa-3x icon"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Classes -->
    <h1 class="class_title">Select Your Class:</h1>
    <hr>

    <section id="class_page">
      <a href="./class.html" class="class_bubble">
        <div class="container-fluid classes">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="class_name">COGS 120</h3>
              <p class="prof">Klemmer</p>
            </div>

            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="grade">C</h3>
            </div>
          </div>
        </div>
      </a>

      <a href="./class.html" class="class_bubble">
        <div class="container-fluid classes">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="class_name">TDGE 124</h3>
              <p class="prof">Fulton</p>
            </div>

            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="grade">B+</h3>
            </div>
          </div>
        </div>
      </a>

      <a href="./class.html" class="class_bubble">
        <div class="container-fluid classes">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="class_name">COGS 100</h3>
              <p class="prof">Kirsh</p>
            </div>

            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="grade">B+</h3>
            </div>
          </div>
        </div>
      </a>

      <a href="./class.html" class="class_bubble">
        <div class="container-fluid classes">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="class_name">COGS 107B</h3>
              <p class="prof">Rangel</p>
            </div>

            <div class="col-lg-6 col-md-6 class_column">
              <h3 class="grade">B+</h3>
            </div>
          </div>
        </div>
      </a>
    </section>

    <footer id="footer">
      <p class="footer_text">Grade Guru 2021</p>
    </footer>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
